.botc-event-widget {
    .event {
        transition: background-color 0.15s;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .title {
        font-size: 1.15rem;
        margin: 0;
    }
}
