#botc-event-widget {
    .event {
        transition: background-color 0.15s;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .title {
        font-size: 1.15rem;
        margin: 0;
    }
    a .bi-person-plus-fill::before {
        border-radius: 1em;
        padding: 0.5ex;
        outline: 1px solid var(--bs-link-color);
    }
}
