//
// Masthead
//

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(2rem + 72px);
    padding-bottom: 2rem;
    background: linear-gradient(0deg, $secondary 0%, $body-color 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;

    .masthead-content {
        z-index: 1;
        position: relative;

        .masthead-heading {
            font-size: 5rem;
            color: $almost-white;
            font-family: "Middle Saxony Text", #{$headings-font-family};
            font-weight: 400;
        }

        .masthead-subheading {
            font-size: 2rem;
            font-weight: 400;
            color: $almost-white;
        }

        a.btn {
            color: $dark-purple;
            background-color: $almost-white;
            font-family: "Spectral SC", #{$headings-font-family};
            text-transform: none;
            font-size: 1rem;
        }
    }
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(4rem + 55px);
        padding-bottom: 4rem;

        .masthead-content {
            .masthead-heading {
                font-size: 8rem;
            }

            .masthead-subheading {
                font-size: 3rem;
            }
        }
    }
}
