//
// Masthead
//

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(2rem + 72px);
    padding-bottom: 2rem;
    background: linear-gradient(0deg, $secondary 0%, $body-color 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;

    .masthead-content {
        z-index: 1;
        position: relative;

        .masthead-heading {
            font-size: 4rem;
        }

        .masthead-subheading {
            font-size: 2rem;
        }
    }
}

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(4rem + 55px);
        padding-bottom: 4rem;

        .masthead-content {
            .masthead-heading {
                font-size: 6rem;
            }

            .masthead-subheading {
                font-size: 4rem;
            }
        }
    }
}
