extends /pug/layouts/base
block head
    title Impressum | Blood on the Clocktower Bremen & Umzu

block nav-items
    li.nav-item
        a.nav-link(href='#impressum') Impressum
    li.nav-item
        a.nav-link(href='#datenschutz') Datenschutz

block content
    header.masthead.text-center.text-white
        .masthead-content
            .container.px-xl-5.px-3
                h1.masthead-heading.mb-0#impressum Impressum
    section
        .container.px-xl-5.px-3
            .row.gx-5.align-items-center
                .col
                    .p-xl-5.p-2
                        p
                            | "Blood on the Clocktower" ist eine eingetragene Marke von
                            a(href='https://bloodontheclocktower.com/about-us', target='_blank') The Pandemonium Institute
                            | und Steven Medway.
                            | Verwendete Spielgrafiken wurden durch The Pandemonium Institute freundlicherweise für nichtkommerzielle Zwecke freigegeben.
                            | Diese Seite hat keine weitere Verbindung zu, noch wird unterstützt von, The Pandemonium Institute.
                        p
                            b Anbieter nach § 5 DDG und verantwortlich nach § 18 MStV:
                            br
                            | Dennis Schürholz
                            br
                            | Anschrift: Meta-Sattler-Str. 33, 28217 Bremen
                            br
                            | E-Mail:
                            a(href='mailto:dennis@botc-bremen.de') dennis@botc-bremen.de
                            br
                            | Telefon: 015678 / 390 797
                        p
                            | Dieses Impressum und die
                            a(href='#datenschutz') Datenschutzerklärung
                            | ist gültig für die folgenden Webseiten, Social-Media-Auftritte und Kommunikationskanäle.
                            | Die Datenschutzerklärungen der jeweiligen externen Dienste gelten entsprechend ergänzend.
                        ul
                            li Homepage
                                a(href='https://botc-bremen.de') https://botc-bremen.de
                                | &bull;
                                a(href='http://botcbremen.de') http://botcbremen.de
                                | &bull;
                                a(href='http://botc-hb.de') http://botc-hb.de
                            li Anmeldeplattform
                                a(href='https://events.botc-bremen.de/', target='_blank') https://events.botc-bremen.de/
                            li ClockTracker Team-Account
                                a(href='https://clocktracker.app/@botc-bremen', target='_blank') https://clocktracker.app/@botc-bremen
                            li ClockTracker Community
                                a(href='https://clocktracker.app/community/bremen', target='_blank') https://clocktracker.app/community/bremen
                            li Instagram
                                a(href='https://www.instagram.com/botcbremen', target='_blank') https://www.instagram.com/botcbremen
                            //li Threads
                                a(href='https://www.threads.net/@botcbremen', target='_blank') https://www.threads.net/@botcbremen
                            //li Bluesky
                                a(href='https://bsky.app/profile/botc-bremen.bsky.social', target='_blank') https://bsky.app/profile/botc-bremen.bsky.social
                            li Discord-Server "BotC Bremen"
                                a(href='https://discord.com/invite/c6hhz7Dvc6', target='_blank') https://discord.com/invite/c6hhz7Dvc6
                            li Whatsapp-Community "botc-bremen.de"
                            li Telegram-Infokanal "BotC Bremen Ankündigungen"
                                a(href='https://t.me/botc_bremen', target='_blank') https://t.me/botc_bremen
                            li E-Mail-Newsletter
                                a(href='https://lists.fachschaften.org/sympa/subscribe/botc-bremen', target='_blank') https://lists.fachschaften.org/sympa/subscribe/botc-bremen

    section
        .container.px-xl-5.px-3
            .row.gx-5.align-items-center
                .col
                    .p-xl-5.p-2
                        h3.display-5 Haftung für Inhalte
                        p Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
                        p Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.

    section
        .container.px-xl-5.px-3
            .row.gx-5.align-items-center
                .col
                    .p-xl-5.p-2
                        h3.display-5 Haftung für Links
                        p Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.
                        p Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.

    section
        .container.px-xl-5.px-3
            .row.gx-5.align-items-center
                .col
                    .p-xl-5.p-2
                        h3.display-5 Urheberrecht
                        p Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
                        p Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.

    header.masthead.text-center.text-white.pt-5
        .masthead-content.mt-4
            .container.px-xl-5.px-3
                h1.masthead-heading.mb-0#datenschutz Datenschutz

    section
        .container.px-xl-5.px-3
            .row.gx-5.align-items-center
                .col
                    .p-xl-5.p-2
                        h3.display-5 Welche personenbezogenen Daten wir sammeln und warum wir sie sammeln

                        h4.display-6.mt-4 Eingebettete Inhalte von anderen Websites
                        p Beiträge auf dieser Website können eingebettete Inhalte beinhalten (z. B. Videos, Bilder, Beiträge etc.). Eingebettete Inhalte von anderen Websites verhalten sich exakt so, als ob der Besucher die andere Website besucht hätte.
                        p Diese Websites können Daten über dich sammeln, Cookies benutzen, zusätzliche Tracking-Dienste von Dritten einbetten und deine Interaktion mit diesem eingebetteten Inhalt aufzeichnen, inklusive deiner Interaktion mit dem eingebetteten Inhalt, falls du ein Konto hast und auf dieser Website angemeldet bist.

                        h4.display-6.mt-4 (Öffentliche) Anmeldungen
                        p Wenn sich zu einer Veranstaltung angemeldet wird sammeln wir die Daten, die im Anmeldeformular angezeigt werden, außerdem die IP-Adresse und den User-Agent-String (damit wird der Browser identifiziert), um die Erkennung von Spam zu unterstützen.
                        p Aus deiner E-Mail-Adresse kann eine anonymisierte Zeichenfolge erstellt (auch Hash genannt) und dem Gravatar-Dienst übergeben werden, um zu prüfen, ob du diesen benutzt. Die Datenschutzerklärung des Gravatar-Dienstes findest du hier: https://automattic.com/privacy/. Wenn du entscheidest, dass deine Anmeldung öffentlich sichtbar sein soll, ist dein Profilbild gemeinsam mit deinem Namen öffentlich im Kontext deiner Anmeldung sichtbar.
                        p
                            | Weitere Details zu den Datenschutzbestimmungen der Anmeldeplattform
                            a(href='https://events.botc-bremen.de', target='_blank') https://events.botc-bremen.de
                            | können der Datenschutzerklärung unseres Diensteanbieters entnommen werden:
                            a(href='https://fsinfo.cs.tu-dortmund.de/datenschutz/start#pretix', target='_blank') https://fsinfo.cs.tu-dortmund.de/datenschutz/start#pretix

                        h4.display-6.mt-4 Server-LogFiles
                        p Unser Hoster erhebt in sog. Logfiles folgende Daten, die Ihr Browser übermittelt:
                        p IP-Adresse, verweisende Website (Referer), Geräteinformationen, Sitzungsdetails, Datum und Uhrzeit von Anfragen, Gerätetyp und -ID, Betriebssystem und Anwendungsversion.
                        p Das ist erforderlich, um unsere Website anzuzeigen und die Stabilität und Sicherheit zu gewährleisten. Die Erhebung entspricht demnach dem berechtigten Interesse im Sinne des Art. 6 Abs. 1 S. 1 lit. f DSGVO.
                        p Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir haben auf diesen Daten keinen direkten Zugriff.
                        p
                            | Weitere Details zu den Datenschutzbestimmungen des Hosting-Dienstes GitHub Pages
                            a(href='https://docs.github.com/de/pages/getting-started-with-github-pages/about-github-pages#data-collection', target='_blank') https://docs.github.com/de/pages/getting-started-with-github-pages/about-github-pages#data-collection
                            | können der Datenschutzerklärung unseres Diensteanbieters entnommen werden:
                            a(href='https://docs.github.com/de/site-policy/privacy-policies/github-general-privacy-statement', target='_blank') https://docs.github.com/de/site-policy/privacy-policies/github-general-privacy-statement
                        p
                            | Der verantwortliche Diensteanbieter kann unter
                            a(href='mailto:dpo@github.com') dpo@github.com
                            | und wie folgt erreicht werden:
                            br
                            | GitHub B.V Prins Bernhardplein 200, Amsterdam 1097JB, Niederlande
                            br
                            | GitHub, Inc. 88 Colin P. Kelly Jr. St. San Francisco, CA 94107 United States

                        h4.display-6.mt-4 Social-Media-Auftritte und Kommunikationskanäle
                        p
                            | Es gelten die jeweils gültigen Datenschutzbedingungen der Anbieter. Über die reguläre Nutzung der Dienste hinaus werden durch uns keine Daten erhoben.

    section
        .container.px-xl-5.px-3
            .row.gx-5.align-items-center
                .col
                    .p-xl-5.p-2
                        h3.display-5 Speicherdauer
                        p Die Anmeldedaten inklusive Metadaten werden zeitlich unbegrenzt gespeichert.
                        p Die Daten der Newsletteranmeldung werden bis zur Austragung aus dem Newsletter gespeichert.
                        p Für die durch Social-Media oder über die Kommunikationskanäle übermittelten Daten gelten die Speicherdauern der jeweiligen Anbieter. Dadurch übermittelte Kontaktdaten können für die Dauer der Mitgliedschaft zur Kontaktaufnahme verwendet werden.

    section
        .container.px-xl-5.px-3
            .row.gx-5.align-items-center
                .col
                    .p-xl-5.p-2
                        h3.display-5 Deine Rechte
                        p Wenn du dich für eine Veranstaltung angemeldet hast, kannst du einen Export deiner personenbezogenen Daten bei uns anfordern, inklusive aller Daten, die du uns mitgeteilt hast.
                        p Darüber hinaus kannst du die Löschung aller personenbezogenen Daten, die wir von dir gespeichert haben, anfordern. Dies umfasst nicht die Daten, die wir aufgrund administrativer, rechtlicher oder sicherheitsrelevanter Notwendigkeiten aufbewahren müssen.

    section
        .container.px-xl-5.px-3
            .row.gx-5.align-items-center
                .col
                    .p-xl-5.p-2
                        h3.display-5 TLS-Verschlüsselung
                        p Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine TLS-Verschlüsselung (früher als SSL bekannt). Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile.
                        p Wenn die TLS Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
