doctype html
html(lang='de')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Dennis Schürholz, BotC Bremen & Umzu')

        title Blood on the Clocktower Bremen & Umzu

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='js/fontawesome-all.min.js', async)

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#top

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
            .container.px-xl-5.px-3
                a.navbar-brand(href='#top') BotC Bremen & Umzu
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#events') Veranstaltungen
                        li.nav-item
                            a.nav-link(href='#locations') Orte
                        li.nav-item
                            a.nav-link(href='#contact') Kontakt
                        li.nav-item
                            a.nav-link(href='#links') Links

        // Header
        header.masthead.text-center.text-white
            .masthead-content
                .container.px-xl-5.px-3
                    h1.masthead-heading.mb-0 Blood on the Clocktower
                    h2.masthead-subheading.mb-0 Lokalcommunity Bremen & Umzu
                    a.btn.btn-dark.btn-xl.rounded-pill.mt-5(href='#events') Anstehende Veranstaltungen

        // Content section 1
        section#events
            .container.px-xl-5.px-3
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-xl-5.p-2
                            img.img-fluid.rounded-circle(src='assets/img/3.jpg', alt='...')
                    .col-lg-6.order-lg-1
                        .p-xl-5.p-2
                            h2.display-4 Veranstaltungen
                            p.mb-0
                                | Hier findet ihr immer die nächsten geplanten Veranstaltungen. Anmeldungen werden über den Link oder ggf. direkt von Storytellern entgegen genommen.
                            .row.mb-2.mt-2
                                .text-start.col-sm-8
                                    a(href='javascript:nextEvents(true)', title='Frühere Veranstaltungen')#prevEvents.p-1.m1
                                        i.fa-solid.fa-calendar-minus
                                    span#eventsCounter.p-1.m1
                                        | Seite 1 von ...
                                    a(href='javascript:nextEvents()', title='Spätere Veranstaltungen')#nextEvents.p-1.m1
                                        i.fa-solid.fa-calendar-plus
                                .text-end.col-sm-4
                                    | Abonnieren:
                                    a(href='/events.ics', title='Termindownload oder Kalenderabonnement (ics/ical)').p-1.m-1
                                        i.fa-solid.fa-calendar-check
                            ul.list-group#botc-event-widget
                                li.list-group-item.d-flex.justify-content-center.align-items-center
                                    i.fa-solid-fa-circle-notch.fa-spin
                                    span.m-2 Lade Veranstaltungen...

        // Content section 2
        section#locations
            .container.px-xl-5.px-3
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-1
                        .p-xl-5.p-2
                            img.img-fluid.rounded-circle(src='assets/img/4.jpg', alt='...')
                    .col-lg-6.order-lg-2
                        .p-xl-5.p-2
                            h2.display-4 Orte
                            p
                                | Unsere offenen Spielerunden finden an verschiedenen Locations statt. Da wir immer unterschiedliche räumliche Möglichkeiten haben wechselt die mögliche Teilnehmendenanzahl auch bei jedem Event.
                            p
                                | ITB: Universität Bremen,
                                a(href='https://www.openstreetmap.org/way/7723480', target='_blank') Am Fallturm 1, 28359 Bremen
                                | (Eingang A)
                                br
                                | MZH: Universität Bremen,
                                a(href='https://www.openstreetmap.org/relation/3293414', target='_blank') Bibliothekstr. 5, 28359 Bremen
                                | (im 1. OG)
                                br
                                | VHS: vhs im Bamberger,
                                a(href='https://www.openstreetmap.org/node/2528100306', tagrte='_blank') Faulenstraße 69, 28195 Bremen
                                | (Raum 307)
                                br
                                | Weyher Würfel: KGS Leeste,
                                a(href='https://www.openstreetmap.org/way/315395128', target='_blank') Schulstr. 40, 28844 Wehyle-Leeste

        // Content section 3
        section#contact
            .container.px-xl-5.px-3
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-xl-5.p-2
                            img.img-fluid.rounded-circle(src='assets/img/1.jpg', alt='...')
                    .col-lg-6.order-lg-1
                        .p-xl-5.p-2
                            h2.display-4 Kontakt
                            ul.list-group.list-group-flush
                                li.list-group-item
                                    .row.align-items-center
                                        i.col-1.p-0.fs-1.bi.bi-people
                                        .col
                                            | Sprich uns einfach auf einem unserer
                                            a(href='#events') Events
                                            | persönlich an.
                                li.list-group-item
                                    .row.align-items-center
                                        i.col-1.p-0.fs-1.bi.bi-discord
                                        .col
                                            | Tritt unserer Discord-Community bei:
                                            br
                                            a(href='http://join.botc-bremen.de') http://join.botc-bremen.de
                                li.list-group-item
                                    .row.align-items-center
                                        i.col-1.p-0.fs-1.bi.bi-whatsapp
                                        .col
                                            | Du möchtest Teil unserer WhatsApp-Community werden?
                                            br
                                            | Schreibe uns unter
                                            a(href='https://wa.me/491722879225') +49 172 2879 225
                                            | eine Nachricht.
                                li.list-group-item
                                    .row.align-items-center
                                        i.col-1.p-0.fs-1.bi.bi-envelope
                                        .col
                                            | Kontaktiere uns gerne per
                                            a(href='mailto:info@botc-bremen.de') E-Mail
                                            | für weitere Fragen, Anregungen oder sonstige Anliegen.

        // Content section 4
        section#links
            .container.px-xl-5.px-3
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-1
                        .p-xl-5.p-2
                            img.img-fluid.rounded-circle(src='assets/img/5.jpg', alt='...')
                    .col-lg-6.order-lg-2
                        .p-xl-5.p-2
                            h2.display-4 Links
                            p
                                |
                            ul.list-group.list-group-flush
                                li.list-group-item
                                    a(href='https://bloodontheclocktower.com/') Offizielle Homepage [en]
                                li.list-group-item
                                    a(href='https://wiki.bloodontheclocktower.com/') Offizielles Wiki [en]
                                li.list-group-item
                                    a(href='https://funtails.de/produkt/blood-on-the-clocktower-deutsch/') Deutsche Spielversion bei Funtails
                                li.list-group-item
                                    a(href='https://clocktowertimer.com/') Clocktowertimer
                                li.list-group-item
                                    a(href='http://join.botc-bremen.de') Bremer Discord (Inoffiziell)
                                li.list-group-item
                                    a(href='https://discord.com/invite/hQrXsWutt6') Deutscher Discord (Inoffiziell)
                                li.list-group-item
                                    a(href='https://discord.gg/botc') Globaler Discord (Inoffiziell) [en]
                                li.list-group-item
                                    a(href='https://linktr.ee/bloodontheclocktower') Offizielle Linkliste [en]

        // Footer
        footer.py-5.bg-black
            .container.px-xl-5.px-3
                p.m-0.text-center.text-white.small Copyright &copy; BotC Community Bremen & Umzu 2024
                p.m-0.text-center.text-white.small "Blood on the Clocktower" ist eine eingetragene Marke von
                    a(href='https://bloodontheclocktower.com/about-us', target='_blank') The Pandemonium Institute
                    | und Steven Medway.
                p.m-0.text-center.text-white.small Diese Seite hat keine Verbindung zu, noch wird unterstützt von, The Pandemonium Institute.
                p.mt-3.text-center.text-white.small
                    | Anbieter nach § 5 TMG und verantwortlich nach § 55 Abs. 2 RStV:
                    br
                    | Dennis Schürholz, Meta-Sattler-Str. 33, 28217 Bremen
                    br
                    | E-Mail:
                    a(href='mailto:dennis@botc-bremen.de') dennis@botc-bremen.de
                    | &bull; Telefon: 015678 / 390 797

        // Bootstrap core JS
        script(src='js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
