doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Blood on the Clocktower Bremen & Umzu

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='js/fontawesome-all.min.js', async)

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#top

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
            .container.px-md-5.px-3
                a.navbar-brand(href='#top') BotC Bremen & Umzu
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#events') Events
                        li.nav-item
                            a.nav-link(href='#locations') Orte
                        li.nav-item
                            a.nav-link(href='#links') Links
                        li.nav-item
                            a.nav-link(href='#contact') Kontakt

        // Header
        header.masthead.text-center.text-white
            .masthead-content
                .container.px-md-5.px-3
                    h1.masthead-heading.mb-0 Blood on the Clocktower
                    h2.masthead-subheading.mb-0 Lokalcommunity Bremen & Umzu
                    a.btn.btn-primary.btn-xl.rounded-pill.mt-5(href='#events') Anstehende Veranstaltungen
            .bg-circle-1.bg-circle
            .bg-circle-2.bg-circle
            .bg-circle-3.bg-circle
            .bg-circle-4.bg-circle

        // Content section 1
        section#events
            .container.px-md-5.px-3
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-md-5.p-2
                            img.img-fluid.rounded-circle(src='assets/img/clocktower.jpg', alt='...')
                    .col-lg-6.order-lg-1
                        .p-md-5.p-2
                            h2.display-4 Veranstaltungen
                            p.mb-0
                                | Hier findet ihr immer die nächsten geplanten Veranstaltungen. Anmeldungen werden über den Link oder ggf. direkt von Storytellern entgegen genommen.
                            .text-end.mb-2
                                | Hier abonnieren:
                                a(href='/events.ics', title='Termindownload oder Kalenderabonnement (ics/ical)').p-1.m-1
                                    i.fa-solid.fa-calendar-check
                            ul.list-group.botc-event-widget
                                li.list-group-item.d-flex.justify-content-center.align-items-center
                                    i.fa-solid-fa-circle-notch.fa-spin
                                    span.m-2 Lade Veranstaltungen...

        // Content section 2
        section#locations
            .container.px-md-5.px-3
                .row.gx-5.align-items-center
                    .col-lg-6
                        .p-md-5.p-2
                            img.img-fluid.rounded-circle(src='assets/img/townsquare.jpg', alt='...')
                    .col-lg-6
                        .p-md-5.p-2
                            h2.display-4 Orte
                            p
                                | Unsere offenen Spielerunden finden an verschiedenen Locations statt. Da wir immer unterschiedliche räumliche Möglichkeiten haben wechselt die mögliche Teilnehmendenanzahl auch bei jedem Event.
                            p
                                | ITB: Universität Bremen,
                                a(href='https://www.openstreetmap.org/way/7723480', target='_blank') Am Fallturm 1, 28359 Bremen
                                | (Eingang A)
                                br
                                | MZH: Universität Bremen,
                                a(href='https://www.openstreetmap.org/relation/3293414', target='_blank') Bibliothekstr. 5, 28359 Bremen
                                | (im 1. OG)
                                br
                                | VHS: vhs im Bamberger,
                                a(href='https://www.openstreetmap.org/node/2528100306', tagrte='_blank') Faulenstraße 69, 28195 Bremen
                                | (Raum 307)
                                br
                                | Weyher Würfel: KGS Leeste,
                                a(href='https://www.openstreetmap.org/way/315395128', target='_blank') Schulstr. 40, 28844 Wehyle-Leeste

        // Content section 3
        section#links
            .container.px-md-5.px-3
                .row.gx-5.align-items-center
                    .col-lg-6.order-lg-2
                        .p-md-5.p-2
                            img.img-fluid.rounded-circle(src='assets/img/network.jpg', alt='...')
                    .col-lg-6.order-lg-1
                        .p-md-5.p-2
                            h2.display-4 Links
                            p
                                |
                            ul.list-group
                                li.list-group-item
                                    a(href='https://bloodontheclocktower.com/') Offizielle Homepage [en]
                                li.list-group-item
                                    a(href='https://wiki.bloodontheclocktower.com/') Offizielles Wiki [en]
                                li.list-group-item
                                    a(href='https://funtails.de/produkt/blood-on-the-clocktower-deutsch/') Deutsche Spielversion bei Funtails
                                li.list-group-item
                                    a(href='https://clocktowertimer.com/') Clocktowertimer
                                li.list-group-item
                                    a(href='https://discord.gg/c6hhz7Dvc6') Bremer Discord (Inoffiziell)
                                li.list-group-item
                                    a(href='https://discord.com/invite/hQrXsWutt6') Deutscher Discord (Inoffiziell)
                                li.list-group-item
                                    a(href='https://discord.gg/botc') Globaler Discord (Inoffiziell) [en]
                                li.list-group-item
                                    a(href='https://linktr.ee/bloodontheclocktower') Offizielle Linkliste [en]

        // Content section 4
        section#contact
            .container.px-md-5.px-3
                .row.gx-5.align-items-center
                    .col-lg-6
                        .p-md-5.p-2
                            img.img-fluid.rounded-circle(src='assets/img/grimsetup.jpg', alt='...')
                    .col-lg-6
                        .p-md-5.p-2
                            h2.display-4 Kontakt
                            p
                                | Du möchtest Informationen zum Spiel selbst bekommen?
                                | Dann folge den obigen
                                a(href='#links') Links
                                | oder sprich uns auf einem
                                a(href='#events') Event
                                | selbst an.
                                br
                                | Du möchtest eine
                                a(href='#locations') Location
                                | anbieten oder selbst eine Runde leiten?
                                | Kontaktiere uns via
                                a(href='https://discord.gg/c6hhz7Dvc6', target='_blank') Discord
                                | oder
                                a(href='mailto:botc@dennisschuerholz.de') E-Mail
                                | für weitere Ideen und Anliegen.


        // Footer
        footer.py-5.bg-black
            .container.px-md-5.px-3
                p.m-0.text-center.text-white.small Copyright &copy; BotC Community Bremen & Umzu 2024
                p.m-0.text-center.text-white.small "Blood on the Clocktower" ist eine eingetragene Marke von
                    a(href='https://bloodontheclocktower.com/about-us', target='_blank') The Pandemonium Institute
                    | und Steven Medway.
                p.m-0.text-center.text-white.small Diese Seite hat keine Verbindung zu, noch wird unterstützt von, The Pandemonium Institute.
                p.mt-3.text-center.text-white.small
                    | Anbieter nach § 5 TMG und verantwortlich nach § 55 Abs. 2 RStV:
                    br
                    | Dennis Schürholz, Meta-Sattler-Str. 33, 28217 Bremen
                    br
                    | E-Mail:
                    a(href='mailto:botc@dennisschuerholz.de') botc@dennisschuerholz.de
                    | &bull; Telefon: 015678 / 390 797

        // Bootstrap core JS
        script(src='js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
