doctype html
html(lang='de')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Dennis Schürholz, BotC Bremen & Umzu')

        block head
            title Blood on the Clocktower Bremen & Umzu

        link(rel='icon', type='image/x-icon', href='/assets/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='/assets/apple-touch-icon.png')
        link(rel='icon' type='image/png', sizes='16x16', href='/assets/favicon-16x16.png')
        link(rel='icon' type='image/png', sizes='32x32', href='/assets/favicon-32x32.png')

        // Core theme CSS (includes Bootstrap)
        link(href='/css/styles.css', rel='stylesheet')

    body#top
        // Navigation
        nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.fixed-top
            .container.px-xl-5.px-3
                a.navbar-brand(href='/#top') BotC Bremen & Umzu
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Navigation ein-/ausblenden')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        block nav-items
                            li.nav-item
                                a.nav-link(href='#events') Veranstaltungen
                            li.nav-item
                                a.nav-link(href='#team') Team
                            li.nav-item
                                a.nav-link(href='#community') Community
                            li.nav-item
                                a.nav-link(href='#rules') Regeln & Tipps
                            li.nav-item
                                a.nav-link(href='#links') Ressourcen
                            li.nav-item
                                a.nav-link(href='#koop') Kooperationen
        block content

        // Footer
        footer.py-5#contact //.bg-black
            .container.px-xl-5.px-3
                p.m-0.text-center.text-white.small Copyright &copy; BotC Community Bremen & Umzu 2023-2025
                p.m-0.mt-3.text-center.text-white.small "Blood on the Clocktower" ist eine eingetragene Marke von
                    a(href='https://bloodontheclocktower.com/about-us', target='_blank') The Pandemonium Institute
                    | und Steven Medway.
                p.m-0.text-center.text-white.small Verwendete Spielgrafiken wurden durch The Pandemonium Institute freundlicherweise für nichtkommerzielle Zwecke freigegeben.
                p.m-0.text-center.text-white.small Diese Seite hat keine weitere Verbindung zu, noch wird unterstützt von, The Pandemonium Institute.
                .mt-5.text-center.text-white.small.row.w-xl-75.m-auto
                    .col-12.fs-5
                        | Impressum &bull; Anbieterkennzeichnung
                    .col-12.my-3
                        a(href='/impressum/') Ausführliches Impressum und Datenschutzerklärung
                    .col-12.mb-1
                        | Anbieter nach § 5 DDG und verantwortlich nach § 18 MStV:
                    .col-12
                        | Dennis Schürholz, Meta-Sattler-Str. 33, 28217 Bremen
                        br
                        | E-Mail:
                        a(href='mailto:dennis@botc-bremen.de') dennis@botc-bremen.de
                        | &bull; Telefon: 015678 / 390 797

        // Bootstrap core JS
        script(src='/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='/js/scripts.js')
