@media (max-width: 767px) {
    /* Tablets starting at 768px */
    .p-1 {
      padding: 0.125rem 0 !important;
    }

    .p-2 {
      padding: 0.25rem 0 !important;
    }

    .p-3 {
      padding: 0.5rem 0 !important;
    }

    .p-4 {
      padding: 0.75rem 0 !important;
    }

    .p-5 {
      padding: 1.5rem 0 !important;
    }

    .row > * {
        padding-right: 0 ! important;
        padding-left: 0 ! important;
    }
}
