h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    color: $dark-purple;
}

.navbar-custom {
    .navbar-nav .nav-item .nav-link {
        font-family: "Spectral SC", #{$font-family-base};
        text-transform: none;
        font-weight: 600;
        font-size: 0.9rem;
    }

    .navbar-brand {
        font-family: "Spectral SC", #{$font-family-base};
        text-transform: none;
        font-weight: 600;
    }
}

footer {
    background-color: $dark-purple;
    a:hover {
        color: #ffffff;
    }
}

#contact .bi {
    color: $dark-purple;
}

#team .svg-avatar {
    background-color: $dark-purple;
    width: 100%;
    aspect-ratio: 1 / 0.88;
    mask-repeat: no-repeat;
    mask-size: contain;

    &::after {
        content: '\200b';
    }

    &.alex {
        mask-image: url('../assets/img/storyteller/alex.svg');
    }
    &.daniel {
        mask-image: url('../assets/img/storyteller/daniel.svg');
    }
    &.dennis{
        mask-image: url('../assets/img/storyteller/dennis.svg');
    }
    &.kathi {
        mask-image: url('../assets/img/storyteller/kathi.svg');
    }
    &.jessica {
        mask-image: url('../assets/img/storyteller/jessica.svg');
    }
    &.robert {
        mask-image: url('../assets/img/storyteller/robert.svg');
    }
}

#koop .card-img-container {
    flex: 1 2 100%;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    justify-content: center;
    display: flex;
    align-items: center;

    img {
        width: 100%;
    }
}

emph.good {
    color: $good;
}
emph.bad {
    color: $bad;
}

.dot::after, .ddot::after, .qmark::after, .emark::after {
    color: initial;
    text-decoration: none;
    text-transform: none;
}
.dot::after {
    content: '.';
}
.ddot::after {
    content: ':';
}
.qmark::after {
    content: '?';
}
.emark::after {
    content: '!';
}

/*a[target="_blank"]::after {
    font-family: "bootstrap-icons" !important;
    content: '\F1C5';
}*/

a .bi {
    text-decoration: none;
    margin: 0 1ex;
}
