//
// Styles
//

// Fonts
@import "./fonts/catamaran";
@import "./fonts/charmonman";
@import "./fonts/dumbledore1";
@import "./fonts/emilyscandy";
@import "./fonts/lato";
@import "./fonts/middlesaxonytext";
@import "./fonts/opensans";
@import "./fonts/opensanscondensed";
@import "./fonts/spectral";
@import "./fonts/spectralsc";

// Import variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import "./fonts/bootstrap-icons";
@import "./fonts/bi-spin";

// Global CSS
@import "./global.scss";

// Components
@import "./components/buttons.scss";
@import "./components/navbar.scss";

// Sections
@import "./sections/masthead.scss";

// Event Widget
@import "./components/botc-event-widget.scss";

// Other Custom CSS
@import "./other.scss";
